<p id="notice"><%= notice %></p>

<p>
  <strong>Pin:</strong>
  <%= @address.pin %>
</p>

<p>
  <strong>Location:</strong>
  <%= @address.location %>
</p>


<%= link_to 'Edit', edit_address_path(@address) %> |
<%= link_to 'Back', addresses_path %>
